@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600;700&family=Playfair+Display&family=Poppins:wght@400;600;800&display=swap');

:root{
    --blanche: #ffff;
    --noir: #222;
    --primaire: #FF4500;
    --gri: #888;

}

*,
*::before,
*::after{
    margin:0;
    padding:0%;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62,5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--noir);
    background-color: var(--blanche);
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.promo{
    background-color: var(--primaire);
    text-align: center;
    color: var(--blanche);
    padding: 0.5rem 0;
}

.container{
    max-width: 114 rem;
    padding: 0 auto;
}

@media only screen and (max-width: 1200){
    .container{
        padding: 0 3rem;
    }
}

.navigation{
    height: 7rem;
    justify-content: space-between;
}

.d-flex{
    display: flex;
    align-items: center;
}

.icon1{
    display: none;
}

.menu .top{
    display: none;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 1.5rem;
}

.logo span{
    font-size: 3rem;
    color: var(--primaire);

}

.nav-item:not(:last-child){
    margin: 0.5rem;

}

.nav-item:first-child .nav-link{
    color: var(--primaire);
}

.nav-link{
    padding: 0 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: var(--primaire);
}

.nav .icons div{
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300 ms ease-in-out;
}

.nav .icons div:not(:last-child){
    margin-right: 0.5rem;
}

.nav .icons div:hover{
    color: var(--primaire);
}

.nav .icons div:last-child{
    position: relative;
}